[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"

[packages]
django = "*"
psycopg2-binary = "*"
gunicorn = "*"
whitenoise = "*"
pillow = "*"
requests = "*"
dj-database-url = "*"
openfoodfacts = {git = "https://github.com/openfoodfacts/openfoodfacts-python"}
django-storages = "*"
boto3 = "*"
sentry-sdk = "==0.16.3"
newrelic = "*"
sqlalchemy = "*"
selenium = "*"

[requires]
python_version = "3.7"
