{% extends 'search/base.html' %}

{% block content %}

   <section class="page-section bg-moule" id="detail"
            style="background-image: url({{ product.image }});
                    background-size: auto 100%; background-repeat: no-repeat;
                    background-position: center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0 text-white display-3">{{ product.name }}</h2>
        </div>
      </div>
    </div>
  </section>

   <section class="page-section bg-bonbon" id="information">
    <button class="btn btn-outline-primary" type="button" onclick="location.href='{{ product.url }}'">OpenFoodFacts</button>
   </section>

{% endblock %}