{% extends 'search/base.html' %}

{% block content %}
  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">"Des faux
            clients ? Oui, et j'assume !" -- Philippe Etchebest </h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">La page demandée
            n'a pas été trouvée sur ce serveur.</p>
          <hr class="divider">
        </div>
        <div class="col-lg-8">
          {% include 'search/search_form.html' %}
        </div>
      </div>
    </div>
  </header>

{% endblock %}